table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: white;
}

th {
    background-color: #275883;
    color: white;
    text-align: center;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #4dabff;
    color: white;
}